<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyc5UHAUqvt2jebSdvbu32yiHvIRYgRKc</string>
	<key>GCM_SENDER_ID</key>
	<string>272868394669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sap.bits.assignment</string>
	<key>PROJECT_ID</key>
	<string>assignment-3f65a</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment-3f65a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272868394669:ios:b706263216d82de4f4a824</string>
	<key>DATABASE_URL</key>
	<string>https://assignment-3f65a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>